/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-image: url("../imgs/ignasi_pattern_s.png");
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all white main boxes */
.block {
  background-color: #fff;

  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  /* Typography */
  color: #4aaaa5;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.in-house-table{
border-spacing: 0;
border-collapse: collapse;
margin-bottom: 20px;
}

.in-house-table td, th{
 background-color: #fff !important;
  }

 
.in-house-table > thead > tr > th,
.in-house-table > tbody > tr > td
 {
  line-height: 1.42857143;
  padding: 8px 0px;
  vertical-align: top;
  border-top: 1px solid #ddd;
   } 
.in-house-table > thead > tr > th
    {
     vertical-align: bottom;
     border-top: 2px solid #ddd;
      } 
h5{
  margin-top: 1%;
}
/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #4aaaa5;
}
/* END FOOTER */

#me-image {
  /* Positioning */
  float: left;
 /* Box-model */
  width: 200px;
  height: 280px;
  max-height: 300px;
  overflow-y: auto;
  margin: 0 20px 10px 0;
}
/* END ABOUT-ME PAGE */

.form-control {
    border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}


.wrapper{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}

/*  image hover */
.hover1{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hover1 .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color:  rbga (0,0,0,0.5);
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
}
.hover1 img{
  display: block;
  position: relative;
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
}
.hover1 h2{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(-100px);
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
  padding: 10px;
}
.hover1 a.info{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}
.hover1 a.info:hover{
  box-shadow: 0 0 5px #fff;
}
.hover1:hover img{
  transform: scale(1.2);
}
.hover1:hover .overlay{
  opacity: 1;
}
.hover1:hover h2, .hover1:hover a.info{
  opacity: 1;
  transform: translateY(0);
}
.hover1:hover a.info{transition-delay: 0.2s;}

/*  image hover effect 2*/
.hover2 figure img{
  transform: rotate(15deg) scale(1.4);
  transition: 0.3s ease-in-out;
}
.hover2 figure:hover img{
  transform: rotate(0) scale(1);
}
figure{background: #fff; overflow: hidden;}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}

.btn-github{color:#fff !important;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}

.btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}

.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}

.btn-linkedin{color:#fff !important;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}

.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}

.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}

.btn-pinterest{color:#fff !important;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:focus,.btn-pinterest.focus{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}

.btn-pinterest:hover{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}

.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}.btn-pinterest:active:hover,.btn-pinterest.active:hover,.open>.dropdown-toggle.btn-pinterest:hover,.btn-pinterest:active:focus,.btn-pinterest.active:focus,.open>.dropdown-toggle.btn-pinterest:focus,.btn-pinterest:active.focus,.btn-pinterest.active.focus,.open>.dropdown-toggle.btn-pinterest.focus{color:#fff;background-color:#801419;border-color:rgba(0,0,0,0.2)}

